<script>
export default {
  name: 'Schedule',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  mounted() {
    const schedScript = document.createElement('script');
    schedScript.setAttribute(
      'src',
      `//${this.data.sched_embed_id}.sched.com/js/embed.js`,
    );
    document.head.appendChild(schedScript);
  },
};
</script>

<template>
  <section :id="data.anchor_id" class="schedule">
    <SlpContainer>
      <SlpRow>
        <SlpColumn :cols="12">
          <SlpTypography variant="heading2-bold" tag="h2">
            Schedule
          </SlpTypography>
          <div>
            <a
              id="sched-embed"
              :href="`http://${data.sched_embed_id}.sched.com/`"
              >View the Schedule</a
            >
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.schedule .slp-col-md-12 {
  width: 100%;
}
</style>
