<script>
export default {
  name: 'FullCarousel',
  props: {
    startingImage: {
      type: Number,
      required: false,
      default: null,
    },
    slides: {
      type: Array,
      required: true,
    },
    autoSlideInterval: {
      type: Number,
      required: false,
      default: null,
    },
    showProgressBar: {
      type: Boolean,
      required: false,
      default: false,
    },
    actions: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      manuallyControlled: false,
      activeImage: 0,
      autoSlideTimeout: null,
      stopSlider: false,
      timeLeft: 0,
      timerInterval: null,
      countdownInterval: 10,
      progressBarWidth: 100 / this.slides.length,
      modal: {
        open: false,
      },
    };
  },
  computed: {
    currentImage() {
      // eslint-disable-next-line
      this.timeLeft = this.autoSlideInterval;
      return this.activeImage;
    },
    progressBar() {
      return 100 - (this.timeLeft / this.autoSlideInterval) * 100;
    },
    darkTheme() {
      return this.slides[this.activeImage]?.dark;
    },
  },
  created() {
    if (
      this.startingImage &&
      this.startingImage >= 0 &&
      this.startingImage < this.slides.length
    ) {
      this.activeImage = this.startingImage;
    }
    if (
      this.autoSlideInterval &&
      this.autoSlideInterval > this.countdownInterval
    ) {
      this.startTimer(this.autoSlideInterval);
      this.timeLeft = this.autoSlideInterval;
      this.startCountdown();
    }
  },
  methods: {
    nextImage() {
      let active = this.activeImage + 1;
      if (active >= this.slides.length) {
        active = 0;
      }
      this.activateImage(active);
    },
    prevImage() {
      let active = this.activeImage - 1;
      if (active < 0) {
        active = this.slides.length - 1;
      }
      this.activateImage(active);
    },
    manualNextImage() {
      this.nextImage();
      this.manuallyControlled = true;
    },
    manualPrevImage() {
      this.prevImage();
      this.manuallyControlled = true;
    },
    activateImage(imageIndex) {
      this.activeImage = imageIndex;
      this.resetTimer();
    },
    startTimer(interval) {
      if (interval && interval > 0 && !this.stopSlider) {
        const self = this;
        clearTimeout(this.autoSlideTimeout);
        this.autoSlideTimeout = setTimeout(() => {
          self.nextImage();
          this.manuallyControlled = false;

          self.startTimer(self.autoSlideInterval);
        }, interval);
      }
    },
    stopTimer() {
      clearTimeout(this.autoSlideTimeout);
      this.stopSlider = true;
      clearInterval(this.timerInterval);
    },
    restartTimer() {
      this.stopSlider = false;
      clearInterval(this.timerInterval);
      this.startCountdown();
      this.startTimer(this.timeLeft);
    },
    resetTimer() {
      this.stopSlider = false;
      clearInterval(this.timerInterval);
      this.startCountdown();
      this.startTimer(this.autoSlideInterval);
    },
    startCountdown() {
      if (!this.showProgressBar) return;
      const self = this;
      this.timerInterval = setInterval(() => {
        self.timeLeft -= self.countdownInterval;
        if (self.timeLeft <= 0) {
          self.timeLeft = self.autoSlideInterval;
        }
      }, this.countdownInterval);
    },
    handleClick(modal) {
      if (!modal) return;
      this.modal.open = true;
      // Make sure Vimeo analytics work:
      // https://vimeo.zendesk.com/hc/en-us/articles/115002859607-Integrate-the-Vimeo-player-with-Google-Tag-Manager
      setTimeout(() => {
        // eslint-disable-next-line no-underscore-dangle
        window.__vimeoRefresh();
      }, 3000);
    },
    closeModal() {
      this.modal.open = false;
    },
  },
};
</script>

<template>
  <section class="full-hero" aria-roledescription="carousel">
    <div
      id="slide-container"
      class="slide-container"
      :aria-live="manuallyControlled ? 'polite' : 'off'"
    >
      <div
        v-for="(slide, index) in slides"
        :key="index"
        class="slide"
        :class="{ active: currentImage == index, dark: slide.dark }"
        aria-roledescription="slide"
        :aria-label="`${index + 1} of ${slides.length}`"
        :tabindex="currentImage == index ? 0 : -1"
      >
        <div class="caption" @mouseover="stopTimer" @mouseleave="restartTimer">
          <div>
            <SlpTypography
              tag="h2"
              variant="heading1-bold"
              class="slp-mb-16 slp-mr-32"
              >{{ slide.title }}</SlpTypography
            >
            <SlpTypography
              tag="h5"
              variant="heading5"
              class="slp-my-16 slp-mr-32 subtitle"
              >{{ slide.subtitle }}</SlpTypography
            >
          </div>
          <div class="btns-container">
            <SlpButton
              v-if="slide.btn_primary"
              :variant="slide.dark ? 'secondary' : 'primary'"
              :href="slide.btn_primary.href"
              :data-ga-name="slide.btn_primary.ga_name"
              data-ga-location="home-page-carousel"
              :tabindex="currentImage == index ? 0 : -1"
              >{{ slide.btn_primary.text }}
            </SlpButton>
            <SlpButton
              v-if="slide.btn_secondary"
              :class="{ dark: slide.dark }"
              variant="tertiary"
              :href="slide.btn_secondary.href"
              :data-ga-name="slide.btn_secondary.ga_name"
              data-ga-location="home-page-carousel"
              :tabindex="currentImage == index ? 0 : -1"
              @click.native="handleClick(slide.btn_secondary.modal)"
              >{{ slide.btn_secondary.text }}
              <SlpIcon
                v-if="slide.btn_secondary.icon"
                :name="slide.btn_secondary.icon"
                size="sm"
                variant="product"
              />
            </SlpButton>
          </div>
        </div>
        <nuxt-img :src="slide.image" :alt="slide.alt" aria-hidden="true" />
      </div>
      <div v-if="actions" class="actions" :class="{ dark: darkTheme }">
        <button
          class="prev"
          aria-controls="slide-container"
          aria-label="see previous slide"
          @click="manualPrevImage"
        >
          <SlpIcon size="lg" name="chevron-lg-left" variant="product" />
        </button>
        <button
          class="next"
          aria-controls="slide-container"
          aria-label="see next slide"
          @click="manualNextImage"
        >
          <SlpIcon size="lg" name="chevron-lg-right" variant="product" />
        </button>
      </div>
    </div>
    <div
      v-if="autoSlideInterval && showProgressBar"
      class="progressbar-container"
    >
      <div
        v-for="(slide, index) in slides"
        :key="index"
        class="progressbar"
        :style="{ width: progressBarWidth + '%' }"
        @click="activateImage(index)"
      >
        <div
          :style="{ width: progressBar + '%' }"
          :class="{ active: currentImage == index }"
        ></div>
      </div>
    </div>
    <SolutionsVideoModal
      v-show="modal.open"
      light-background
      :visible="modal.open"
      @close="closeModal"
    >
      <template #body>
        <iframe
          src="https://player.vimeo.com/video/702922416?h=06212a6d7c"
          title="Video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </template>
    </SolutionsVideoModal>
  </section>
</template>

<style lang="scss" scoped>
.full-hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 116px);
  @media (min-width: $breakpoint-sm) {
    height: calc(100vh - 80px);
  }
  @media (min-width: $breakpoint-lg) {
    height: calc(100vh - 120px);
  }
}
.caption {
  z-index: 2;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 2rem);

  @media (min-width: $breakpoint-md) and (min-height: 500px) {
    max-width: 550px;
    left: 15%;
  }

  .btns-container {
    margin-top: 0.5rem;
    @media (min-width: $breakpoint-sm) {
      display: flex;
    }
  }
  .btns-container > * {
    margin: 0.5rem auto 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    @media (min-width: $breakpoint-sm) {
      margin: 0.5rem 0;
      &:nth-child(1) {
        margin-right: 0.5rem;
      }
    }
  }

  @media (max-width: 389px) {
    .slp-text-heading1-bold {
      font-size: 62px;
    }
  }
  @media (max-height: 750px) and (max-width: $breakpoint-md) {
    .slp-text-heading5 {
      font-size: 20px;
      line-height: 25px;
    }
    .btns-container {
      margin-top: 0;
    }
  }
}
.progressbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  bottom: 16px;
  position: absolute;
  padding: 0 1rem;
  @media (min-width: $breakpoint-lg) {
    padding: 0;
  }
}
.progressbar {
  display: block;
  margin-right: $spacing-24;
  height: 2px;
  background: #fff;
  z-index: 1;
  max-width: 200px;
  height: 2px;
  box-shadow: 0 2px 3px #3333;
  cursor: pointer;
  & > div {
    height: 100%;
    opacity: 0;
    width: 0;
    &.active {
      background-color: $color-accent-500;
      opacity: 1;
    }
  }
  &:last-of-type {
    margin-right: 0;
  }
}
.slide-container {
  margin-bottom: $spacing-16;
  position: relative;
  width: 100%;
  height: 100%;
  .slide {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.6s ease-in-out;
    &.active {
      opacity: 1;
    }
    &.dark {
      color: white;
      a.dark {
        &:hover {
          text-decoration-color: white;
        }
        color: white;
      }
    }
  }
}
.slide > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: left top;
  z-index: -1;
}
.actions {
  color: #585858;
  &.dark button {
    color: $color-surface-400;
  }
}
.actions > .prev,
.actions > .next {
  cursor: pointer;
  transition: color 250ms;
  z-index: 2;
  position: absolute;
  top: 50%;
  border: none;
}
.actions > .prev {
  left: 5vw;
  @media (max-width: $breakpoint-md) {
    display: none;
  }
}
.actions > .next {
  right: 0.5rem;
  @media (min-width: $breakpoint-md) {
    right: 5vw;
  }
}
.actions.dark button > :hover {
  color: $color-surface-50;
}
.actions button > :hover {
  color: $color-surface-700;
}
</style>
